@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: #101010;
   font-weight: 600;
   background-color: #EAEAEA;
}

.wrapper {
   width: 1440px;
   margin: 50px auto;

}

header {
   position: relative;
}

header .logo {
   font-weight: 700;
   font-size: 25px;
   margin-left: 15px;
}

header ul.nav {
   float: right;
   list-style: none;
   margin-top: 5px;
}

header ul.nav li {
   display: inline;
   margin-left: 25px;
   cursor: pointer;
   transition: opacity 500ms ease;
}

header ul.nav li:hover {
   opacity: .5;
}

header h2 {
   color: #838383;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   margin-top: 30px;
   margin-left: 20px;
   margin-bottom: 20px;
}
header .headerAir{
   position: relative;
   top: 920px;
}
main {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-around;
}

main .item {
   width: 350px;
   height: 407px;
   margin-left: 20px;
   margin-bottom: 50px;
   background-color: #FFF;
   border-radius: 30px;
}

main .item img {
   width: 85%;
}

.item>img {
   margin-left: 25px;
}

.rate {
   margin-left: 20px;
}

.rate .rate-rating {
   font-size: 17px;
}

main b {
   margin: 10px 20px;
   color: #FFA542;
   margin-left: 270px;
   position: relative;
   top: -20px;
}

main .oldPrice {
   position: relative;
   font-style: normal;
   font-weight: 600;
   font-size: 13px;
   line-height: 16px;
   text-decoration-line: line-through;
   color: #FFCE7F;
   right: -260px;
   top: -15px;
}

main h2 {
   margin-left: 20px;
   font-weight: 600;
   font-size: 17px;
   color: #1C1C27
}

main p {
   margin-left: 20px;
}

main .addToCart {
   margin-left: 260px;
   position: relative;
   top: -30px;
   font-size: 17px;
   transition: color 500ms ease;
}

.addToCart:hover {
   color: #FFA542;
   cursor: pointer;
}

.like, .cart-button {
   color: #838383;
   font-size: 25px;
}

.like:hover, .cart-button:hover {
   color: #FFA542;
}

.cart-button {
   margin-right: 30px;
}

.cart-button:active {
   color: red;
}

.total {
   width: 350px;
   height: 120px;
}

header .cart-open {
   z-index: 1000;
}

header .cart-open .empty h2 {
   font-size: 20px;
   margin-bottom: 20px;
   color: #AAA;
}

/* .bgItem {
   position: fixed;
   top: 50px;
   right: 50px;
   left: 50px;
   bottom: 50px;
   background-color: #FFA542;
   z-index: 9999;
   overflow: auto;
} */

/* .bgItem>div {
   width: 200px;
   position: relative;
   margin: 10% auto; 
    padding: 40px 30px;
   background-color: #FFF;
   border-radius: 10px; 
} */

header .cart-open .iTEm {
   width: 100%;
   float: left;
   margin-bottom: 20px;
}

header .cart-open .iTEm img {
   width: 70px;
   float: left;
   margin-right: 20px;
}

header .cart-open .iTEm h2 {
   font-size: 20px;
   margin-bottom: 10px;
}

header .cart-open .iTEm b {
   color: #AAA;
   font-weight: 400;
}

header .cart-open .iTEm .trash-delete {
   color: #ca5252;
   float: right;
   position: relative;
   font-size: 20px;
   top: -25px;
   cursor: pointer;
   transition: color, transform 500ms ease;
}

header .cart-open .iTEm .trash-delete:hover {
   color: red;
   transform: scale(1.5);
}

.cart-open {
   position: absolute;
   top: 100px;
   left: 80px;
   width: 633px;
   background-color: #FFF;
   border-radius: 30px;

   padding: 20px;
   padding-bottom: 0;
}

.total {
   position: absolute;
   top: 10px;
   right: -600px;
   background-color: #FFF;
   border-radius: 20px;
   display: grid;
}

.total .total-item {
   margin-left: 30px;
   margin-top: 20px;
}

.total .total-sum {
   position: absolute;
   right: 20px;
   margin-top: 20px;
}

.total span {
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   color: #000000;
}

.buttonIss {
   position: absolute;
   width: 349px;
   height: 65px;
   background-color: #101010;
   color: #FFF;
   border-radius: 20px;
   top: 55px;
   font-size: 17px;
   line-height: 21px;
   font-weight: 600;
}

.star {
   color: #FFA542;
   font-size: 20px;
   margin-right: 10px;
}

.addOrDelete {
   display: flex;
   position: relative;
   margin-top: 10px;
}

.butOrder {
   display: flex;
   justify-content: center;
   font-weight: 600;
   width: 20px;
   height: 20px;
   background-color: #FFCE7F;
   color: #FFF;
   margin-right: 10px;
   border-radius: 50%;
}

.count {
   margin-right: 10px;
}

footer {
   width: 1320px;
   height: 150px;
   bottom: 0;
   margin-left: 70px;
   background-color: #FFF;
   border-radius: 30px 30px 0px 0px;
   display: flex;
   justify-content: space-around;
}

.footer-logo {
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   color: #101010;
   margin-top: 29px;
}

.footer-menu ul {
   list-style: none;
   margin-top: 30px;
}

.footer-menu ul li {
   margin-top: 5px;
}

.footer-lang {
   margin-top: 30px;
}

.footer-lang>div {
   margin-bottom: 20px;
}

.lang-lang {
   display: flex;
   justify-content: space-around;
}

.lang-lang>span:first-of-type {
   color: #FFA542;
}

.footer-social {
   margin-top: 30px;
}

.social {
   width: 30px;
   height: 30px;
   margin-right: 10px;
}